force-app/main/default/flows/MC_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AA_Extract_Other_Fields</name>
        <label>Extract Other Fields</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>MC_ExtractCaseOtherFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CR_Create_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>otherFields</name>
            <value>
                <elementReference>$Record.otherFields__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Case</assignToReference>
            <name>caseRecord</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>A_Assign_Inputs</name>
        <label>Assign Inputs</label>
        <locationX>446</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.origin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_Record_Type_Supplied</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>D_Other_Fields_Supplied</name>
        <label>Other Fields Supplied?</label>
        <locationX>446</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>CR_Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>O_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.otherFields__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.otherFields__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Extract_Other_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Recipient_Id_Supplied</name>
        <label>Recipient Id Supplied?</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>D_Other_Fields_Supplied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recipientId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>O_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recipientId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>O_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recipientId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Record_Type_Supplied</name>
        <label>Record Type Supplied?</label>
        <locationX>446</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>D_Recipient_Id_Supplied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>O_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recordTypeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.recordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MC Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CR_Create_Case</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GR_Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Other_Fields_Supplied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recipientId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Case.AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.ContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Other_Fields_Supplied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recipientId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Case.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Lead</name>
        <label>Get Lead</label>
        <locationX>578</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Other_Fields_Supplied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recipientId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Case.SuppliedEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.SuppliedName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case.SuppliedPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Recipient_Id_Supplied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>A_Assign_Inputs</targetReference>
        </connector>
        <object>MC_Case__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
